.yo {
    width: 500px;

}
h1 {
    font-family: 'Lato', sans-serif;
}

.youtube {
    font-size: 40px;  
    font-family: 'Lato', sans-serif;
}

body {
 text-align: center;   
    background: #f4d4e8;
}

h2 {
    font-size: 40px;   
    font-family: 'Bitter', serif;
}

.fry {
    width: 400px;
}

.red {
    font-size: 40px;  
    font-family: 'Bitter', serif;
}

.yell {
    width: 400px;
}

h3 {
    font-size: 40px;   
    font-family: 'Libre Baskerville', serif;
}

.hello {
    width: 400px;   
}

h4 {
    font-size: 40px;
    
}

.no {
    font-size: 40px;   
    font-family: 'Libre Baskerville', serif;
}

.yeet {
 font-size: 40px;   
}